body {
  text-align: center;
  background-color: rgb(137, 137, 235);
  background-image: url(../img/backgroundimg.jpg);
  background-size: cover;
}

#result {
  border: 3px solid black;
  font-weight: bold;
  background-image: url(../img/textbackground.jpg);
  color: black;
}

footer {
  background-image: url(../img/textbackground.jpg);
  color: aqua;
}

h1 {
  color: red;
}

label {
  color: red;
}

.leftBox {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: magicBoxDance;
  animation-duration: 20s;
}

@keyframes magicBoxDance {
  0% {
    background-color: goldenrod;
    left: 25px;
    top: 0px;
  }
  25% {
    background-color: greenyellow;
    left: 150px;
    top: 10px;
  }
  50% {
    background-color: aliceblue;
    left: 175px;
    top: 200px;
  }
  75% {
    background-color: blue;
    left: 50px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 25px;
    top: 0px;
  }
}

.rightBox {
  float: right;
  width: 100px;
  height: 100px;
  background-color: red;
  position: sticky;
  animation-name: magicBoxDance;
  animation-duration: 20s;
}
